
.chat
  = render partial:"layouts/sidebar" ,locals: { group: @group,message: @message }
  .chat__main
    .chat__main__header
      .chat__main__header__left 
        %p.name 
          = @group.name
        %p.member
          Member:
          - @group.users.each do |user|
            = user.name
      .chat__main__header__edit
        =link_to edit_group_path(current_user) ,class:"chat__main__header__edit__text" do
          %p Edit
    .chat__main__content
      .chat__main__content__message
        = render partial:"layouts/message" ,collection: @messages
    .chat__main__post
      = form_for [@group,@message] do |f|  
        = f.text_field :body, class: "input", placeholder: "type a message"
        = f.label :image, class: "form" do
          = fa_icon "image", class: "icon"
          = f.file_field :image, class: "hidden" 
        = f.submit 'Send', class: "submit"
